service_name    = "${SERVICE_NAME}"
cluster_name    = "${CLUSTER_NAME}"
cluster_region  = "${CLUSTER_REGION}"
cluster_version = "${CLUSTER_VERSION}"
nodepool_name   = "${NODEPOOL_NAME}"
nodepool_flavor = "${NODEPOOL_FLAVOR}"
environment     = "${ENVIRONMENT}"