env_name        = "${ENVIRONMENT}"
service_name    = "${OVH_CLOUD_PROJECT_SERVICE}"
cluster_region  = "${OS_REGION_NAME}"
cluster_version = "${CLUSTER_VERSION}"
nodepool_flavor = "${NODEPOOL_FLAVOR}"
desired_nodes   = "${DESIRED_NODES_NUM}"
max_nodes       = "${MAX_NODES_NUM}"
min_nodes       = "${MIN_NODES_NUM}"
global_region   = "${GLOBALE_REGION}"
database_version= "${DATABASE_VERSION}"
database_plan   = "${DATABASE_PLAN}"
database_flavor = "${DATABASE_FLAVOR}"
database_disk   = "${DATABASE_DISK_SIZE}"
keycloak_db_name= "${KECLOAK_DB_INSTANCE_NAME}"
keycloak_db_user= "${KEYCLOAK_DB_USER}"
#vlan_id         = "${VLAN_ID}"
vlan_cidr       = "${VLAN_CIDR}"