---
- name: Keycloak db password
  kubernetes.core.k8s:
    state: "{{ absent_or_present }}"
    template: "keycloak-db-secret.yml"

- name: Keycloak specific ingress
  kubernetes.core.k8s:
    state: "{{ absent_or_present }}"
    template: "ingress.yml"

- name: Wait for the keycloak secrets to be ready and retrieve the information of the created secret
  shell: kubectl get secrets -n keycloak keycloak-tls-secret -o jsonpath="{$.data}"
  register: pod_info
  until: pod_info.stdout.find("tls.crt") != -1
  retries: 30
  delay: 5
  when: absent_or_present=="present"

- name: Keycloak instance
  kubernetes.core.k8s:
    state: "{{ absent_or_present }}"
    template: "keycloak.yml.j2"

- name: Wait for the keycloak instance to be up and running
  ansible.builtin.uri:
    url: "https://{{ keycloak.server_name }}/"
    method: GET
  register: keycloak_ping
  until: keycloak_ping.status==200
  retries: 30
  delay: 5
  when: absent_or_present=="present"

- name: Import realm into Keycloak
  kubernetes.core.k8s:
    state: "{{ absent_or_present }}"
    template: "keycloak-realm.yml"
  when: absent_or_present=="present"
