---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
type: Opaque
data:
  username: {{ keycloak.db_user | b64encode}}
  password: {{ keycloak.db_password | b64encode}}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: keycloak-db
  namespace: keycloak
spec:
  serviceName: keycloak-db-service
  selector:
    matchLabels:
      app: keycloak-db
  replicas: 1
  template:
    metadata:
      labels:
        app: keycloak-db
    spec:
      containers:
        - name: keycloak-db
          image: postgres:latest
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: keycloak-db-secret
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-db-secret
                  key: password
            - name: PGDATA
              value: /data/pgdata
            - name: POSTGRES_DB
              value: {{ keycloak.db_instance_name }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak.db_svc_name }}
  namespace: keycloak
spec:
  selector:
    app: keycloak-db
  type: NodePort
  ports:
  - port: 5432
    targetPort: 5432