---
- name: Add jetstack helm repository
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: "https://charts.jetstack.io"

- name: install cert-manager helm chart
  kubernetes.core.helm:
    name: my-cert-manager
    chart_ref: jetstack/cert-manager
    chart_version: 1.11.0
    release_namespace: cert-manager
    create_namespace: true
    release_values:
      installCRDs: true
    update_repo_cache: yes

- name: Create a Issuer from a local file
  kubernetes.core.k8s:
    state: present
    template: "issuer.yml"
