---
- name: install element-web helm chart
  kubernetes.core.helm:
    name: element-web
    chart_ref: ananace-charts/element-web
    release_state: "{{ absent_or_present }}"
    release_namespace: element-web
    create_namespace: true
    release_values:
      defaultServer:
        url: "https://{{ matrix.server_name }}"
        name: "{{ matrix.server_name }}"
      ingress:
        enabled: true
        className: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
          external-dns.alpha.kubernetes.io/hostname: "{{ element.server_name }}"
        hosts:
          - "{{ element.server_name }}"
        tls:
          - hosts:
              - "{{ element.server_name }}"
            secretName: "element-tls-secret"
      extraConfig:
        enable_registration: false
        enable_registration_without_verification: false
    update_repo_cache: yes
