---
apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-synapse-extraconfig
  namespace: default
data:
  extraconfig.yaml: |
{% if discovery_room_id is defined %}
    # Those rooms will be hidden from users
    exclude_rooms_from_sync:
    - "{{ discovery_room_id }}"
{% endif %}
{% if prosante_connect.enabled  %}
    oidc_providers:
      - idp_id: psc
        idp_name: "Pro Santé Connect"
        idp_icon: "{{ mxc.stdout }}"
        discover: false
        issuer: "{{ prosante_connect.issuer }}"
        authorization_endpoint: "{{ prosante_connect.authorization_endpoint }}"
        token_endpoint: "{{ prosante_connect.token_endpoint }}"
        userinfo_endpoint: "{{ prosante_connect.userinfo_endpoint }}"
        jwks_uri: "{{ prosante_connect.jwks_uri }}"
        client_id: "{{ prosante_connect.client_id }}"
        client_secret: "{{ prosante_connect.client_secret }}"
        scopes: ["openid", "scope_all"]
        user_mapping_provider:
          config:
            localpart_template: "{% raw %}{{ user.preferred_username }}{% endraw %}"
            display_name_template: "{% raw %}{{ user.given_name }} {{ user.family_name }}{% endraw %}"
            email_template: "{% raw %}{{ user.email }}{% endraw %}"
        backchannel_logout_enabled: true # Optional
{% endif %}
    auto_join_rooms: ["#discoveryroom:{{ matrix.server_name }}"]
    autocreate_auto_join_rooms: true
{% if matrix.servers_list is defined %}
    federation_domain_whitelist: {{ matrix.servers_list }}
{% endif %}
{% if msteams.enabled %}  
    app_service_config_files:
      - /data/msteams-registration.yaml
{% endif %}
