apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: msteams-pvc
  namespace: msteams
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  storageClassName: csi-cinder-classic
