---
apiVersion: v1
kind: ConfigMap
metadata:
  name: msteams-registration-configmap
  namespace: default
data:
  msteams-registration.yaml: |
    as_token: "{{ msteams_bridge_vars.as_token }}"
    hs_token: "{{ msteams_bridge_vars.hs_token }}"
    id: "{{ msteams_bridge_vars.id }}"
    namespaces:
      users:
        - exclusive: true
          regex: '@_teamspuppet_.*'
      rooms: []
      aliases:
        - exclusive: true
          regex: '#_teamspuppet_.*'
    protocols: []
    rate_limited: "{{ msteams_bridge_vars.rate_limited }}"
    sender_localpart: "{{ msteams_bridge_vars.sender_localpart }}"
    url: 'http://msteams-svc.msteams'
    de.sorunome.msc2409.push_ephemeral: true
