apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: msteams-bridge
  name: msteams-bridge
  namespace: msteams
spec:
  replicas: 1
  selector:
    matchLabels:
      app: msteams-bridge
  template:
    metadata:
      labels:
        app: msteams-bridge
    spec:
      volumes:
        - name: data-vol
          persistentVolumeClaim:
            claimName: msteams-pvc
        - name: msteams-cm
          configMap:
            name: msteams-configmap
            items:
              - key: "config.yaml"
                path: "config.yaml"
      containers:
        - image: eimisans/mx-puppet-teams
          name: mx-puppet-teams
          securityContext:
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
          ports:
            - containerPort: 8432
          volumeMounts:
            - mountPath: /data
              name: data-vol
            - mountPath: /data/config.yaml
              subPath: config.yaml
              name: msteams-cm
